<!-- File for duplicate use template -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar"> 
            {% if user.is_authenticated %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item ms-4">
                    <a class="nav-item nav-link" id="home" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" id="settings" href="/settings">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" id="logout" onClick="myFunction()">Logout</a>
                </li>
            </ul>
            <span class="navbar-text text-white me-3">
            Welcome, {{ user.first_name }}
            </span>
            {% else %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item ms-4">
                    <a class="nav-item nav-link" id="login" href="/login">Login</a>
                </li>
                <li>
                    <a class="nav-item nav-link" id="register" href="/register">Sign Up</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>
    <!-- Handle all the flashes -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger alert-dismissable fade show" role="alert" aria-label="Close">
            {{ message }}
            <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
        </div>
        {% else %}
        <div class="alert alert-success alert-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="container" style="width:50%; margin-left:25%;">
    {% block content %}
    {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!-- Load the url of the file path -->
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>